header {
  position: inherit;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid $primary-color-dark-1;
  margin-bottom: 25px;

  height: 65px;
  padding: 0 25px;

  h1 {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande',
      'Lucida Sans', Arial, sans-serif;
    font-size: 3rem;
    font-weight: bold;
    position: absolute;
  }

  .Header {
    &__Help {
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 18px;
      margin-left: auto;
      height: 100%;
      width: 65px;
      cursor: pointer;
      user-select: none;
    }
  }
}
