.LetterTile {
  touch-action: none;
  position: relative;
  width: 60px;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px $primary-color-dark-1 solid;
  border-radius: 3px;
  font-size: 32px;
  box-sizing: border-box;

  &__Points {
    position: absolute;
    bottom: 0;
    right: 2px;
    font-size: 16px;
    color: $font-color-dark-1;
  }
}
