// Background Colors
$bg-color-dark-1: #121213;

$bg-color-light-1: #818384;

// Primary Colors
$primay-color-dark-1: #3a3a3c;

// Font Colors
$font-color-light-1: #f8f8f8;

// Media Query Sizes
$mq-xs: '(max-width: 420px)';
$mq-s: '(max-width: 640px)';
$mq-md: '(max-width: 768px)';
$mq-lg: '(max-width: 1024px)';
$mq-xl: '(max-width: 1280px)';
$mq-xxl: '(min-width: 1824px)';
