// Background Colors
$bg-color-dark-1: #0e0e10;

$bg-color-light-1: #e5e5e5;

// Primary Colors
$primay-color-light-1: #60659b;

$primay-color-dark-1: #393939;

// Font Colors
$font-color-dark-1: #161600;

$font-color-light-1: #ececec;

// Media Query Sizes
$mq-xs: '(max-width: 420px)';
$mq-s: '(max-width: 640px)';
$mq-md: '(max-width: 768px)';
$mq-lg: '(max-width: 1024px)';
$mq-xl: '(max-width: 1280px)';
$mq-xxl: '(min-width: 1824px)';
